---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import grande from "../images/grande.jpg"
---

<Layout title="Sol Naciente" desc="Página de Inicio">
	<main>
		<h1 class="title">SOMOS SOL NACIENTE</h1>
		<article class="hero rel">
			<video class="js-video js-video__visible" autoplay="" playsinline="" loop="" muted="" preload="metadata">
				<source data-src="https://petfoodkitchen.co.uk/wp-content/uploads/2024/04/PFK-Hero.mp4" type="video/mp4" src="https://petfoodkitchen.co.uk/wp-content/uploads/2024/04/PFK-Hero.mp4">
			</video>
			<section class="abs fcol p4 g4">
				<h1 class="h1">Alimentación Corporativa que Transforma</h1>
				<p>En Sol Naciente, llevamos calidad, sabor y bienestar a tu empresa. Mejora la productividad y el clima laboral con soluciones alimentarias personalizadas, seguras y deliciosas. ¡Nos adaptamos a tus necesidades!</p>
			</section>
		</article>
		<article class="welcome px5">
			<div class="cols g16">
				<Card src={grande} title='Hola' text='sdhashdash' btn='sda' href='/'/>
				<Card src={grande} title='Concesionario de Alimentos' text='Ofrecemos un servicio de alimentación adaptado a las necesidades de empresas e instituciones. Entregamos comida recién preparada, ideal para aquellos sin cocina en sus instalaciones. También brindamos el servicio de preparación in-house.' btn='ttrtsdg' href='/'/>
			</div>
		</article>
		<article class="slider">
			<div class="cols g4">
				<section class="fcol g4">
					<h1 class="h2">Descubre más sobre nosotros</h1>
					<p>We offer a wide range of pet food manufacture processes with a variety of sophisticated customisation options.</p>
				</section>
				<section class="fcol g4 right">
					<h1 class="h1">Calidad</h1>
					<p>La calidad es el centro de nuestro negocio</p>
				</section>
			</div>
		</article>
	</main>
</Layout>

<style>
	.hero {
		video {
			background: black;
			width: 100%;
			height: 100vh;
			object-fit: cover;
		}
		section {
			color: var(--bg);
			top: 50%;
			transform: translateY(-50%);
			width: 65%;
		}
	}
	.welcome {
		margin-block: 4em;
	}
	.slider {
		color: var(--bg);
		background: var(--text);
		padding: 144px 2em;

		.right {
			text-align: end;
		}
	}
	@media (max-width: 1260px) {
		.welcome .cols {
			gap: 2em;
		}
	}
	@media (max-width: 860px) {
		.title {
			padding-top: 0;
		}
		.hero {
			video {
				height: 50vh;
			}
			section {
				position: static;
				color: var(--text);
				position: relative;
				transform: none;
				width: 100%;
				text-align: center;
				padding-block: 4em 0;
			}
		}
		.slider {
			text-align: center;
			.right {
				display: none;
			}
		}
	}
</style>
