---
import Layout from "../layouts/Layout.astro";

const title = "Sol Naciente | Servicios";
const descr = "Descubre soluciones alimenticias personalizadas en Sol Naciente. Ofrecemos concesionarios y cafeterías corporativas diseñados para empresas y eventos.";
---

<Layout {title} {descr}>
	<div class="hero rel">
		<div class="rel">
			<img
				src="/images/wasa.avif"
				alt="calidad"
				loading="eager"
				decoding="async"
			>
			<div class="color abs"></div>
		</div>
		<svg class="deco abs do" width="1240" height="40" viewBox="0 0 1240 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0C186.083 25.577 396.792 40 620 40C843.208 40 1053.92 25.577 1240 0H0Z" fill="white"/>
		</svg>
		<svg class="deco abs mo" width="1240" height="80" viewBox="0 0 1240 80" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0C186.083 51.154 396.792 80 620 80C843.208 80 1053.92 51.154 1240 0H0Z" fill="white"/>
		</svg>
		<h1 class="abs">Nuestros Servicios</h1>
	</div>
	<div class="sections fcol">
		<section>
			<div class="fcol">
				<h1>Concesionario de Alimentos</h1>
				<p>
					En <strong>Sol Naciente</strong>, ofrecemos soluciones personalizadas de
					alimentación para empresas e instituciones, entregando comida recién
					preparada a aquellos que no tienen espacio o presupuesto para una cocina
					propia. Además, brindamos el servicio In-House.
				</p>
			</div>
			<img
				src="/images/serv1.avif"
				alt="calidad"
				loading="lazy"
				decoding="async"
			>
		</section>
		<section>
			<img
				src="/images/serv2.avif"
				alt="calidad"
				loading="lazy"
				decoding="async"
			>
			<div class="fcol">
				<h1>Cafeterías Corporativas</h1>
				<p>
					Somos la mejor opción en cafeterías empresariales, proporcionando menús
					balanceados, sándwiches, cafés y más, adaptados a las necesidades de cada
					organización, siempre con alimentos saludables y de calidad.
				</p>
			</div>
		</section>
		<section>
			<div class="fcol">
				<h1>Calidad y Pasión por el Servicio</h1>
				<p>
					En <strong>Sol Naciente</strong>, la calidad es nuestra prioridad. Nos
					comprometemos a ofrecer siempre lo mejor, cuidando cada detalle para
					satisfacer a nuestros clientes.
				</p>
			</div>
			<img
				src="/images/serv4.avif"
				alt="calidad"
				loading="lazy"
				decoding="async"
			>
		</section>
	</div>
</Layout>

<style>
	.deco {
		top: 0;
		width: 100%;
    height: auto;
	}
	.hero img {
		width: 100%;
		height: 400px;
		filter: brightness(0.5);
	}
	.hero h1 {
		color: white;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 32px;
		text-align: center;
	}
	.sections {
		padding-block: 128px;
		gap: 128px;
	}
	section h1, p {
		color: black;
		text-align: inherit;
	}
	section {
		width: 80vw;
		display: grid;
		align-items: center;
		gap: 64px;
		background: var(--peach);
	}
	section:nth-child(2n) {
		border-radius: 0 360px 360px 0;
		grid-template-columns: 1fr 1.5fr;
	}
	section:nth-child(2n - 1) {
		border-radius: 360px 0 0 360px;
		grid-template-columns: 1.5fr 1fr;
		align-self: flex-end;
	}
	section:nth-child(2n) .fcol {
		padding: 32px 128px 32px 0;
		text-align: start;
	}
	section:nth-child(2n - 1) .fcol {
		padding: 32px 0 32px 128px;
		text-align: end;
	}
	section .fcol {
		gap: 1em;
	}
	section img {
		width: 100%;
		min-height: 100%;
		aspect-ratio: 1;
		height: auto;
	}
	@media (max-width: 1420px) {
		section {
			width: 85vw;
		}
	}
	@media (max-width: 960px) {
		.hero img {
			height: 256px;
		}
		.sections {
			padding-block: 64px;
			gap: 64px;
		}
		section {
			gap: 32px;
			width: 93vw;
		}
		section:nth-child(2n) .fcol {
			padding: 32px 64px 32px 0;
		}
		section:nth-child(2n - 1) .fcol {
			padding: 32px 0 32px 64px;
		}
	}
	@media (max-width: 700px) {
		.hero img {
			height: 136px;
		}
		.hero h1 {
			padding: 16px;
		}
		section {
			width: 100%;
			gap: 0;
			grid-template-columns: 1fr !important;
			border-radius: 0 !important;
		}
		section .fcol {
			text-align: center !important;
			padding: 32px 16px !important;
		}
		section img {
			grid-row: 1;
		}
	}
</style>
