---
import AdminL from "../layouts/AdminL.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
	return redirect("/admin");
}

const title = "Sol Naciente | Iniciar Sesión";
const descr = "Iniciar Sesión para cambiar los empleos :p";
---

<AdminL {title} {descr}>
	<main class="fcc fcol between">
		<h1>Sol Naciente</h1>
		<form class="fcol fc" action="/api/auth/signin" method="post" id="login-form">
			<h2>Iniciar Sesión</h2>
			<label for="email">
				<span>Correo:</span>
				<input type="email" name="email" id="email" placeholder="correo@gmail.com" required />
			</label>
			<label for="password">
				<span>Contraseña:</span>
				<input type="password" name="password" id="password" placeholder="••••••••" required/>
			</label>
			<button type="submit" class="btn btn-yellow">Ingresar</button>
			<p id="error-message" class="failure"></p>
		</form>
		<footer>
			<p>Hecho con ❤️ por <a href="https://www.instagram.com/joinstudio.tv/" target="_blank">Join Studio</a></p>
		</footer>
	</main>
	<script>
		const btn = document.querySelector('.btn-yellow') as HTMLButtonElement;
		const errorMessage = document.getElementById('error-message') as HTMLElement;

		document.getElementById('login-form')?.addEventListener('submit', async function (e: Event) {
			e.preventDefault();

			// Mensaje de carga
			btn.innerText = 'Cargando...'

			// Obtener los datos del formulario
			const email = (document.getElementById('email') as HTMLInputElement).value;
			const password = (document.getElementById('password') as HTMLInputElement).value;

			// Limpiar mensajes de error previos
			errorMessage.style.display = 'none';
			errorMessage.innerHTML = '';

			// Enviar los datos usando fetch
			try {
				const response = await fetch('/api/auth/signin', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({ email, password })
				});

				// Procesar la respuesta
				if (response.ok) {
					window.location.href = '/admin';
				} else {
					errorMessage.style.display = 'block';
					errorMessage.innerHTML = '<strong>Error:</strong> Credenciales incorrectas.'
				}
			} catch (error) {
				errorMessage.innerHTML = '<strong>Error:</strong> Problemas con el servidor.';
			}

			btn.innerText = 'Ingresar'
		});
	</script>
</AdminL>

<style>
	main {
		min-height: 100dvh;
		padding: 2em 1em;
	}
	form, label {
		width: 100%;
	}
	form {
		gap: 1em;
		padding: 2em 1em;
		max-width: 480px;
		background: var(--peach);
		border-radius: 1em;
	}
	.failure {
		display: none;
		width: 100%;
	}
	@media (max-width: 700px) {
		form {
			max-width: 400px;
		}
	}
</style>