---
const { value, content } = Astro.props;
---

<div class="collapse collapse-plus">
	<input type="radio" value={value} name="opciones" />
	<div class="collapse-title text-xl font-medium">
		{value}
	</div>
	<div class="collapse-content">
		<Fragment set:html={content} />
		<button class="btn btn-yellow postular" type="button">Postular</button>
	</div>
</div>

<style>
	.btn {
		display: flex;
    margin: 24px auto 16px;
		background: var(--yellow);
    align-self: center;
	}
	.collapse-content :global(ul) {
		padding-inline-start: 28px;
	}
	.collapse-content :global(h3) {
		font-size: 24px;
		margin-top: 16px;
		margin-bottom: 8px;
		font-weight: 600;
	}
	.collapse-content :global(p),
	.collapse-content :global(ul) {
		margin-block: 8px;
		font-size: 20px;
	}
	input {
		margin: 0;
		border: none;
	}
	.collapse {
		max-width: 700px;
		background: var(--yellow);
		position: relative;
    display: grid;
    overflow: hidden;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows .2s;
    width: 100%;
    border-radius: 36px;
    visibility: visible;
	}

	.collapse:not(.collapse-close):has(>input[type=checkbox]:checked),
	.collapse:not(.collapse-close):has(>input[type=radio]:checked) {
  	grid-template-rows: auto 1fr;
	}

	.collapse:not(td):not(tr):not(colgroup) {
    visibility: visible;
	}

	:where(.collapse>input[type=checkbox]),
	:where(.collapse>input[type=radio]) {
    z-index: 1;
	}

	.collapse-title,
	.collapse>input[type=checkbox],
	.collapse>input[type=radio],
	.collapse-content {
    grid-column-start: 1;
    grid-row-start: 1;
	}
	.collapse>input[type=checkbox], .collapse>input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
	}
	.collapse:not(.collapse-open):not(.collapse-close)>input[type=checkbox],
	.collapse:not(.collapse-open):not(.collapse-close)>input[type=radio]:not(:checked),
	.collapse:not(.collapse-open):not(.collapse-close)>.collapse-title {
    cursor: pointer;
	}

	.collapse-title {
    position: relative;
		color: white;
		font-size: 24px;
	}

	.collapse-title,
	:where(.collapse>input[type=checkbox]),
	:where(.collapse>input[type=radio]) {
		width: 100%;
		padding: 16px 32px;
		padding-right: 36px;
		transition: background-color .2s ease-out;
	}

	.collapse-plus>.collapse-title:after {
		position: absolute;
		display: block;
		right: 16px;
		transition-property: all;
		transition-timing-function: cubic-bezier(.4,0,.2,1);
		transition-timing-function: cubic-bezier(0,0,.2,1);
		transition-duration: .3s;
		top: 50%;
		content: "+";
		pointer-events: none;
		transform: translateY(-50%);
	}

	.collapse[open].collapse-plus>.collapse-title:after, .collapse-open.collapse-plus>.collapse-title:after, .collapse-plus:focus:not(.collapse-close)>.collapse-title:after, .collapse-plus:not(.collapse-close)>input[type=checkbox]:checked~.collapse-title:after, .collapse-plus:not(.collapse-close)>input[type=radio]:checked~.collapse-title:after {
    content: "−";
	}
	.collapse-content {
		background: #f2ebe5;
    visibility: hidden;
    grid-column-start: 1;
    grid-row-start: 2;
    min-height: 0;
    transition: visibility .2s;
    transition: padding .4w ease-out, background-color .2s ease-out;
    padding-left: 32px;
    padding-right: 32px;
    cursor: unset;
	}
	.collapse[open]>.collapse-content,
	.collapse-open>.collapse-content,
	.collapse:focus:not(.collapse-close)>.collapse-content,
	.collapse:not(.collapse-close)>input[type=checkbox]:checked~.collapse-content,
	.collapse:not(.collapse-close)>input[type=radio]:checked~.collapse-content {
    visibility: visible;
    min-height: -moz-fit-content;
    min-height: fit-content;
	}
	.collapse[open]>:where(.collapse-content),
	.collapse-open>:where(.collapse-content),
	.collapse:focus:not(.collapse-close)>:where(.collapse-content),
	.collapse:not(.collapse-close)>:where(input[type=checkbox]:checked~.collapse-content),
	.collapse:not(.collapse-close)>:where(input[type=radio]:checked~.collapse-content) {
		padding-block: 16px;  
		transition: padding .2s ease-out, background-color .2s ease-out;
	}
	@media (max-width: 700px) {
		.collapse {
			border-radius: 16px;
		}
		.collapse-title,
		:where(.collapse>input[type=checkbox]),
		:where(.collapse>input[type=radio]) {
			padding: 16px;
			padding-right: 36px;
		}
		.collapse-content {
			padding-left: 16px;
    	padding-right: 16px;
		}
		.collapse[open]>:where(.collapse-content),
		.collapse-open>:where(.collapse-content),
		.collapse:focus:not(.collapse-close)>:where(.collapse-content),
		.collapse:not(.collapse-close)>:where(input[type=checkbox]:checked~.collapse-content),
		.collapse:not(.collapse-close)>:where(input[type=radio]:checked~.collapse-content) {
			padding-block: 0;
		}
		.collapse-title, .collapse-content :global(h3) {
			font-size: 18px;
		}
		.collapse-content :global(p), .collapse-content :global(ul) {
			font-size: 16px;
		}
	}
</style>