---
import { Image } from "astro:assets";

import src from '../images/logo-footer.svg'
---

<footer>
	<div class="cont fcol g4">
		<div class="content between">
			<Image {src} alt="Logo de Sol Naciente" />
			<address>
				<h2>Alimentos Sol Naciente</h2>
			</address>
			<address class="fcol">
				<p>Sol Naciente</p>
				<p>Av. La Paz 123,</p>
				<p>Arequipa</p>
				<a href="tel:+51987654321">987 654 321</a>
				<a href="mailto:info@solnaciente.com">info@solnaciente.com</a>
			</address>
		</div>
		<h1 class="title">ALIMENTACIÓN CORPORATIVA</h1>
	</div>
</footer>

<style>
	.title {
		padding-top: 0;
		color: #424344;
		font-size: 5.9vw;
	}
	address {
		font-style: normal;
	}
	footer {
		color: white;
		background: var(--otro);
	}
	footer .cont {
		border-radius: 2em 2em 0 0;
		background: var(--text);
		padding: 2em 2em 0 2em;
	}
	@media (max-width: 1260px) {
		.title {
			font-size: 5.7vw;
		}
	}
	@media (max-width: 860px) {
		img {
			width: 100%;
			height: auto;
		}
		.title {
			font-size: 5.3vw;
		}
		.content {
			flex-direction: column;
			gap: 2em;
		}
	}
</style>