<header>
	<nav class="desktop fc between">
		<div class="fc">
			<a href="/" aria-current={Astro.url.pathname ==='/'} >Inicio</a>
			<a href="/nosotros" aria-current={Astro.url.pathname ==='/nosotros'}>Nosotros</a>
			<a href="/galeria" aria-current={Astro.url.pathname ==='/galeria'}>Galería</a>
		</div>
		<div class="logo fcc">
			<svg width="60" height="67" viewBox="0 0 60 67" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M16.9338 37.8319C16.7815 36.6519 16.6197 34.1347 17.7807 31.3083C18.2804 30.095 19.7507 27.0544 23.2337 25.113C24.1092 24.6229 26.8928 23.2097 30.6091 23.6189C33.6306 23.9473 35.7194 25.3129 36.6045 25.9648C37.4848 26.6119 39.4499 28.2487 40.6585 31.118C41.6625 33.5114 41.6721 35.6431 41.5912 36.7708C41.4294 39.1119 40.6347 40.8677 40.1256 41.8194" fill="white"/>
				<path d="M16.9338 37.8319C16.7815 36.6519 16.6197 34.1347 17.7807 31.3083C18.2804 30.095 19.7507 27.0544 23.2337 25.113C24.1092 24.6229 26.8928 23.2097 30.6091 23.6189C33.6306 23.9473 35.7194 25.3129 36.6045 25.9648C37.4848 26.6119 39.4499 28.2487 40.6585 31.118C41.6625 33.5114 41.6721 35.6431 41.5912 36.7708C41.4294 39.1119 40.6347 40.8677 40.1256 41.8194" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M29.1673 1.07898C34.8011 1.01713 38.9503 1.64046 40.059 1.81176C41.9195 2.10677 43.247 2.40654 43.7752 2.53026C45.2265 2.8681 47.3677 3.37723 49.9752 4.4526C50.9316 4.84754 52.1212 5.3424 53.582 6.21792C55.433 7.33136 56.3751 8.24971 56.732 8.6161C57.6884 9.5963 58.1166 10.3386 58.3403 10.7859C58.7638 11.6328 58.8827 12.2942 58.9255 12.5322C58.9969 12.9604 59.0064 13.3268 58.9969 13.598C58.9969 15.8154 58.9874 18.0375 58.9874 20.2548C58.9874 20.5308 58.9731 29.1671 58.9731 29.1909C58.9731 29.7095 58.9589 38.027 58.9589 38.5647C58.9779 39.0262 58.9779 39.6686 58.9018 40.4204C58.7923 41.5005 58.583 42.2952 58.4117 42.9423C58.3403 43.2135 58.0595 44.2366 57.4933 45.6212C57.2887 46.1256 56.6796 47.5721 55.6233 49.3517C55.4472 49.6515 54.6621 50.96 53.3964 52.5921C52.9682 53.1488 51.8024 54.6144 50.0418 56.3416C47.0774 59.2489 44.3462 61.0047 43.2423 61.6804C41.2914 62.8747 39.7497 63.5742 39.3976 63.7312C36.5807 64.9874 34.4299 65.4442 33.721 65.5822C32.4029 65.8391 31.4941 65.8962 30.9945 65.9153C30.7708 65.9248 29.8953 65.9533 28.7152 65.8439C28.2775 65.8011 27.264 65.6964 25.7223 65.33C23.5478 64.8113 21.8824 64.1547 21.1639 63.8549C18.6563 62.8129 16.91 61.6899 15.8346 60.9904C15.2826 60.6336 13.6934 59.5772 11.8091 57.9594C11.3142 57.5359 10.1294 56.4986 8.72573 55.0141C7.80262 54.0386 6.73677 52.9109 5.59002 51.2883C5.59002 51.2883 3.15378 47.8528 1.61686 43.0565C1.33136 42.1619 1.1791 41.334 1.1791 41.334C0.898361 39.759 1.03159 38.0889 1.03159 36.4948C1.03159 34.9151 1.03159 33.3306 1.03159 31.7508C1.03159 31.5129 1.03159 31.2703 1.03159 31.0323C1.03159 29.2099 1.03159 21.8441 1.03159 20.0169C1.03159 17.9185 1.03159 15.8154 1.03159 13.717C1.01732 13.322 1.03159 12.7653 1.18862 12.1229C1.22192 11.9897 1.33136 11.552 1.59307 10.9857C1.87381 10.3767 2.24495 9.79615 2.81119 9.13951C3.09193 8.81594 3.95793 7.85001 5.65188 6.71278C6.86524 5.89912 7.85972 5.42805 8.72573 5.0236C10.4435 4.21945 11.8138 3.77693 12.8749 3.43909C14.8877 2.80148 16.4579 2.4684 17.5047 2.25428C18.0948 2.13056 19.6888 1.81176 21.8491 1.5453C22.6818 1.44061 25.4225 1.11705 29.1625 1.07423L29.1673 1.07898Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M44.7078 60.5337C44.3843 60.5955 43.9418 60.6812 43.4136 60.7668C41.3247 61.1142 39.6926 61.2331 39.036 61.2759C37.2754 61.3854 35.8146 61.3711 34.8059 61.333C33.9113 61.2997 32.6361 61.2474 30.9754 61C30.0571 60.862 29.3434 60.7525 28.4155 60.4765C27.283 60.134 26.3885 59.8342 25.6271 59.2917L25.4654 59.1918C26.3314 58.3829 27.6637 57.2885 29.4718 56.2988C30.6947 55.6326 31.6702 55.2662 32.9263 54.7999C33.7352 54.5002 35.6814 53.8054 38.3127 53.2154C39.1407 53.0298 41.082 52.6206 43.6467 52.3732C46.24 52.121 47.7103 52.1401 49.5422 52.4018C50.8413 52.5873 51.7739 53.0156 52.6446 53.5104" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M1.07441 40.6631C1.19813 39.1357 1.52169 36.9516 2.03558 34.977C2.25922 34.1109 2.65892 32.6121 3.44403 30.823C5.38541 26.3835 8.169 23.657 8.93985 22.929C10.5434 21.4159 12.0327 20.4547 12.9082 19.8266C13.641 19.2984 14.5308 18.8464 16.5436 17.7996C16.8005 17.6663 17.8331 17.2762 19.9505 16.5386C20.2027 16.453 20.8308 16.3578 21.2685 16.5481C21.6254 16.7052 21.8919 16.9193 22.1536 17.6901C22.5676 18.9082 22.8055 19.1462 23.3432 19.4745C23.976 19.8599 24.685 19.7267 25.0609 19.6886C25.4987 19.6458 25.9983 19.5554 25.9983 19.5554C27.1022 19.365 28.4821 19.2318 29.6669 19.2651C33.1595 19.3603 36.1524 20.8354 36.1524 20.8354C41.3627 23.2573 43.7419 27.5873 44.251 28.6247C45.1408 30.428 45.5405 32.0744 45.7356 33.2164C45.7499 33.2973 45.9688 34.4345 46.9823 34.8294C47.0346 34.8485 47.7817 35.1816 48.5858 34.7771C48.8618 34.6391 49.2139 34.3536 49.2139 34.3536C49.5565 34.0776 49.8705 33.7588 50.1894 33.4495C50.865 32.7929 51.5217 32.1172 52.1783 31.4416C52.5732 31.0323 52.9777 30.6326 53.3393 30.1949C53.6534 29.819 54.0007 29.4145 54.291 29.0196C55.0476 27.9966 55.7137 26.9497 56.4132 25.8886C56.5797 25.6365 56.7463 25.3795 56.9128 25.1226C57.0793 24.8656 57.3981 24.4326 57.4077 23.8236C57.4124 23.4096 57.2697 23.0622 56.9889 22.3913C56.7367 21.7918 56.4988 21.3635 56.475 21.3159C55.5567 19.6696 54.6954 18.4515 54.6954 18.4515C54.1197 17.6378 53.4059 16.5481 52.2592 15.2634C51.831 14.7828 50.3607 13.1412 48.0719 11.3378C46.9109 10.4242 44.9457 9.03483 42.1859 7.70251C41.3675 7.30757 38.5982 6.04187 34.7059 5.31385C30.0714 4.44785 26.1172 4.7381 23.2004 5.31385C22.6865 5.41378 22.1964 5.59935 21.6682 6.35116C21.1496 7.09345 21.1306 7.87381 21.1401 8.09745C21.1401 8.09745 21.221 8.69699 20.9117 9.21088C20.6119 9.7105 20.0885 9.8818 19.5032 10.0388C17.2192 10.5289 14.1311 11.3949 10.8432 13.2269C6.09915 15.8725 2.73981 19.6696 1.03635 21.8679" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M1.95947 44.0653C2.19739 43.2278 2.69701 42.476 3.32986 41.7908C4.38619 40.6488 5.58052 40.154 6.4608 39.8304C10.3864 38.3839 14.35 38.0032 14.35 38.0032C15.9583 37.8509 18.9513 37.5797 22.7294 38.1555C25.551 38.5837 27.9349 39.3546 28.7486 39.6258C29.8287 39.9874 30.0285 40.1111 31.0373 40.4299C31.5036 40.5774 33.7115 41.2531 36.6854 41.6005C38.2937 41.786 41.7434 42.0668 46.0639 41.3673C47.4058 41.1532 50.532 40.625 53.582 39.1975C54.3243 38.8502 55.7661 38.1602 57.3839 36.8707C57.9644 36.4044 58.6448 35.7525 58.9636 35.4433" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M6.89856 53.0013C8.71622 54.0148 10.8765 54.9284 13.2699 55.2615C14.94 55.4899 17.5666 55.5993 20.5215 54.6715C22.9482 53.9149 24.5422 52.7872 24.9515 52.4969C26.85 51.1218 27.8921 49.6657 28.1252 49.3327C28.72 48.4809 29.1102 47.6958 29.3624 47.1106C33.2166 48.4429 36.5664 48.8568 38.9122 48.9758C41.7482 49.1185 44.0226 48.8759 45.3264 48.6903C47.1631 48.4286 49.685 48.0527 52.6779 46.7442C54.9762 45.7402 56.3704 44.9217 58.3117 43.2754" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M54.2196 29.1195C53.8009 27.7586 53.0871 25.7364 51.988 23.7617C49.8182 19.8599 47.1916 17.4332 45.9592 16.3911C44.7935 15.4014 41.6054 12.8748 36.7329 11.3236C34.349 10.567 32.2554 10.2672 30.7375 10.1387" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M50.3035 33.3449C50.0466 31.3749 49.2139 27.0734 46.3304 23.1288C45.512 22.0106 42.5809 18.2326 37.1897 15.9914C34.349 14.8114 31.8034 14.4593 30.1237 14.3593" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M11.918 49.1518C17.2799 49.8284 22.5019 48.6957 27.1449 45.8718C23.8099 50.551 16.8056 52.0475 11.918 49.1518Z" fill="white"/>
				<path d="M36.6617 56.725C41.4458 57.0696 46.3043 56.2943 50.717 54.5028C51.8315 54.0836 52.4088 55.789 51.2657 56.1336C46.4987 57.4371 41.4801 57.6495 36.6617 56.725Z" fill="white"/>
			</svg>
		</div>
		<div class="fc">
			<a href="/servicios" aria-current={Astro.url.pathname ==='/servicios'}>Servicios</a>
			<a href="/cotizacion" aria-current={Astro.url.pathname ==='/cotizacion'}>Cotización</a>
			<a href="/empleo" aria-current={Astro.url.pathname ==='/empleo'}>Empleo</a>
		</div>
		<button class="p4 mo" type="button" id="bbtn">
			Menú +
		</button>
	</nav>
	<nav class="mobile-nav mo">
		<button class="p4" type="button" id="close">
			Cerrar -
		</button>
		<a href="/">Inicio</a>
		<a href="/nosotros">Nosotros</a>
		<a href="/galeria">Galería</a>
		<a href="/servicios">Servicios</a>
		<a href="/cotizacion">Cotización</a>
		<a href="/empleo">Empleo</a>
	</nav>
	<h1>SOL NACIENTE</h1>
</header>
<script>
	const bbtn = document.getElementById("bbtn") as HTMLButtonElement;
	const clos = document.getElementById("close") as HTMLButtonElement;
	const head = document.querySelector(".mobile-nav") as HTMLElement;
	const body = document.querySelector('body') as HTMLElement;

  bbtn.addEventListener("click", () => {
		bbtn.classList.add('active')
		head.classList.add('active')
		body.classList.add('active')
	});

	clos.addEventListener("click", () => {
		bbtn.classList.remove('active')
		head.classList.remove('active')
		body.classList.remove('active')
	})
</script>

<style>
	.logo {
		width: 106px;
		height: 106px;
		padding: 15px 10px 10px;
		border-radius: 50%;
		background: var(--yellow);

		position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
	}
	nav {
		border-bottom: 1px solid var(--yellow);
	}
	nav.desktop a {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 180px;
		height: 94px;
		font-size: 18px;

		text-decoration: none;
		color: var(--yellow);
		transition: 0.2s ease-in-out;
	}
	nav.desktop a:hover {
		background: #ffecca;
	}
	nav.desktop a[aria-current="true"] {
		color: white;
		background: var(--yellow);
	}
	h1 {
		margin-block: 48px 0;
		font-size: 8.5vw;
    text-align: center;
	}
	.mobile-nav {
		display: flex;
    flex-direction: column;
    background: black;
    position: fixed;
    inset: 0;
    height: auto;
    z-index: 1;
    justify-content: center;
		padding: 20px;
		transition: .4s ease-in-out;
		transform: translateX(100%);
	}
	.mobile-nav.active {
		transform: translateX(0);
	}
	.mobile-nav * {
		color: white;
		text-decoration: none;
	}
	.mobile-nav a {
		font-size: 30px;
		margin-block: 10px;
	}
	#close {
		align-self: flex-end;
    position: absolute;
    top: 22px;
		right: 0;
	}
	@media (max-width: 1420px) {
		nav.desktop a {
			width: 140px;
			height: 94px;
		}
		.logo {
			width: 96px;
			height: 96px;
		}
		svg {
			width: 58px;
			height: 64px;
		}
	}
	@media (max-width: 960px) {
		h1 {
			margin-top: 0;
			font-size: 8vw;
		}
		nav {
			border-bottom: none;
			height: 100px;
			justify-content: flex-end;
		}
		nav .fc {
			display: none;
		}
		.logo {
			top: 12px;
			width: 76px;
			height: 76px;
		}
		svg {
			width: 45px;
			height: 51px;
		}
	}
</style>